---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{
          page.author | escape
        }}</span></span>
      {%- endif -%}
    </p>
  </header>

  {% assign sibling_posts=site.posts | where:"post_ref", page.post_ref | sort:"lang" %}
  {% if sibling_posts.size > 1 %}
  <div class="lang-options">
    {% for post in sibling_posts %}
    <div class="lang {% if page.lang == post.lang %}selected{% endif %}">
      <a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{ post.lang }}">
        {{ post.lang }}
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>